.highlight-instruction {
  -fx-fill: #e265ff;
}

.highlight-value {
  -fx-fill: #434343;
}

.highlight-binary {
  -fx-fill: black;
}

.highlight-comment {
  -fx-fill: #65737e;
}

.highlight-label-declaration {
  -fx-fill: #6699cc;
  -fx-underline: true;
}

.highlight-label-usage {
  -fx-fill: #5fb3b3;
}

.error {
  -fx-fill: tomato;
}